*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body { 
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vw;
    justify-content: center;
    align-items: center;
}

.panel {
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    height: 90vh;
    flex: 0.5;
    position: relative;
    border: solid 3px black;
    border-radius: 35px;
    margin: 5px;
    transition: flex 2s ease-in;
}
.panel h3 {
    position: absolute;
    font-size: 3rem;
    font-family:;
    color: aliceblue;
    bottom: 10px;
    padding-left: 10px;
    opacity: 0;
    transition: opacity 1s ease-in 1s;
}
.panel.active {
    flex: 5;
}
.panel.active h3{
    opacity: 1;
}